 
 
node_modules/

 
dist/
.angular/
.angular/cache/
 
*.js.map
*.d.ts.map

 
.angular/

 
coverage/
.nyc_output/
 
src/environments/environment.local.ts

 
.idea/
*.iml
.vscode/

 
.DS_Store
Thumbs.db

 
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
 
.sonar/
.scannerwork/

 
.cache/
.eslintcache
.stylelintcache
