 
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.mvn/wrapper/maven-wrapper.properties
 

 spring-shell.log
*.pid

*.class

*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

*.log
logs/
spring.log


.idea/
*.iml
*.iws
*.ipr
out/


.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/


nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/


.vscode/
.factorypath


rebel.xml
rebel-remote.xml


application-local.yml
application-local.properties
**/src/main/resources/application-local.*


**/surefire-reports/
**/failsafe-reports/


**/jacoco.exec
**/jacoco/


.sonar/
.scannerwork/


.env
.env.*
!.env.example
