<ng-container [formGroup]="form" (focusout)="onTouchedFn()">
  <div>
    <app-account-select formControlName="numeroCuenta" />
  </div>

  <div class="form__row">
    <div>
      <app-select-field
        label="Tipo de Movimiento"
        formControlName="tipoMovimiento"
        [options]="movementTypeOptions"
      />
    </div>
    <div>
      <app-input-field
        label="Valor"
        type="number"
        formControlName="valor"
        min="0.01"
        step="0.01"
      />
    </div>
  </div>
</ng-container>
