<div
  class="toast"
  [class.toast--closing]="closing()"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  data-testid="toast"
  (click)="hide()"
  (keydown.enter)="hide()"
  (keydown.space)="hide()"
  tabindex="0"
>
  @if (data()) {
    <div
      class="toast__body"
      [class.toast__body--success]="data().type === 'success'"
      [class.toast__body--warn]="data().type === 'warn'"
      [class.toast__body--error]="data().type === 'error'"
      [class.toast__body--info]="data().type === 'info'"
    >
      <div class="toast__content">
        @if (data().title) {
          <h5 class="toast__title" data-testid="toast-title">
            {{ data().title }}
          </h5>
        }

        <p class="toast__text" data-testid="toast-message">
          {{ data().message }}
        </p>
      </div>
    </div>
  }
</div>
